<template name = 'currentEmp'>
  <p>
    Please fill out your current Employer information.
  </p>

  {{> employerInfo}}
  {{> jobInfo}}
  {{> empStatus}}
  {{> jobFeeling}}

  <a href="{{pathFor route='home'}}">Home</a>
  <a href="{{pathFor route='formerEmp'}}">Former Employer</a>
</template>




<template name = 'employerInfo'>
  <form>
      <fieldset>
        <legend>
          Employer Information
        </legend>
        Company Name:
        <input type = "text" name = "companyName">
        <br>
        Do you work remotely?
        <input type = 'radio' name = 'remote' value="yes">Yes
        <input type = 'radio' name = 'remote' value="no">No
        <br>
        Street Address
        <input type = "text" name = "street">
        <br>
        City
        <input type = "text" name = "city">
        <br>
        State
        <input type = "text" name = "state">
        Zip Code
        <input type = "text" name = "zip">
    </fieldset>
  </form>
</template>

<template name = 'jobInfo'>
  <form>
      <fieldset>
        <legend>
          Job Information
        </legend>
        Job Title
        <input type = "text" name = "title">
        Have you been promoted?
        <input type = 'radio' name = 'promotion' value="yes">Yes
        <input type = 'radio' name = 'promotion' value="no">No
        <br>
        if yes, how many times:
        <input type = "text" name = "timespromoted">
        <br>
        Date of Promotion
        <input type = "text" name = "promotiondate">
        <br>
        Start Date
        <input type = "text" name = "startdate">
      </fieldset>
    </form>
</template>




<template name = 'empStatus'>
  <form>
    <fieldset>
      <legend>
        Employment Status
      </legend>
      Status
      <input type = 'radio' name = 'status' value="full-time">Full Time
      <input type = 'radio' name = 'status' value="part-time">Part Time
      <input type = 'radio' name = 'status' value="other">Other
      <br>
      if other
      <input type = "text" name = "other status">
      Average hours worked per week
      <input type = "text" name = "hours">
    </fieldset>
  </form>

</template>



<template name = 'jobFeeling'>
  <form>
    <fieldset>
      <legend>
        Feelings toward Job
      </legend>
      Overall, I am satisfied with my current job.
      <br>
      <input type = "radio" name = "job satisfaction" value = "strongly disagree">Strongly Disagree
      <input type = "radio" name = "job satisfaction" value = "disagree">Disagree
      <input type = "radio" name = "job satisfaction" value = "neutral">Neither Agree nor Disagree
      <input type = "radio" name = "job satisfaction" value = "agree">Agree
      <input type = "radio" name = "job satisfaction" value = "strongly agree">Strongly Agree
      <br>
      I perform my job well.
      <br>
      <input type = "radio" name = "performance" value = "strongly disagree">Strongly Disagree
      <input type = "radio" name = "performance" value = "disagree">Disagree
      <input type = "radio" name = "performance" value = "neutral">Neither Agree nor Disagree
      <input type = "radio" name = "performance" value = "agree">Agree
      <input type = "radio" name = "performance" value = "strongly agree">Strongly Agree
      <br>
      I would be glad to spend my whole career with my current employer.
      <br>
      <input type = "radio" name = "career" value = "strongly disagree">Strongly Disagree
      <input type = "radio" name = "career" value = "disagree">Disagree
      <input type = "radio" name = "career" value = "neutral">Neither Agree nor Disagree
      <input type = "radio" name = "career" value = "agree">Agree
      <input type = "radio" name = "career" value = "strongly agree">Strongly Agree
      <br>
      I often think about leaving my current employer.
      <br>
      <input type = "radio" name = "leave" value = "strongly disagree">Strongly Disagree
      <input type = "radio" name = "leave" value = "disagree">Disagree
      <input type = "radio" name = "leave" value = "neutral">Neither Agree nor Disagree
      <input type = "radio" name = "leave" value = "agree">Agree
      <input type = "radio" name = "leave" value = "strongly agree">Strongly Agree
      <br>
      My current employer and I share the same values.
      <br>
      <input type = "radio" name = "share" value = "strongly disagree">Strongly Disagree
      <input type = "radio" name = "share" value = "disagree">Disagree
      <input type = "radio" name = "share" value = "neutral">Neither Agree nor Disagree
      <input type = "radio" name = "share" value = "agree">Agree
      <input type = "radio" name = "share" value = "strongly agree">Strongly Agree
      <br>
      I cooperate with my coworkers.
      <br>
      <input type = "radio" name = "cooperate" value = "strongly disagree">Strongly Disagree
      <input type = "radio" name = "cooperate" value = "disagree">Disagree
      <input type = "radio" name = "cooperate" value = "neutral">Neither Agree nor Disagree
      <input type = "radio" name = "cooperate" value = "agree">Agree
      <input type = "radio" name = "cooperate" value = "strongly agree">Strongly Agree
      <br>
      I assist my coworkers when they need help.
      <br>
      <input type = "radio" name = "assist" value = "strongly disagree">Strongly Disagree
      <input type = "radio" name = "assist" value = "disagree">Disagree
      <input type = "radio" name = "assist" value = "neutral">Neither Agree nor Disagree
      <input type = "radio" name = "assist" value = "agree">Agree
      <input type = "radio" name = "assist" value = "strongly agree">Strongly Agree
      <br>
      I think about how my actions affect my coworkers.
      <br>
      <input type = "radio" name = "actions" value = "strongly disagree">Strongly Disagree
      <input type = "radio" name = "actions" value = "disagree">Disagree
      <input type = "radio" name = "actions" value = "neutral">Neither Agree nor Disagree
      <input type = "radio" name = "actions" value = "agree">Agree
      <input type = "radio" name = "actions" value = "strongly agree">Strongly Agree
      <br>
    </fieldset>
  </form>

</template>
