<template name = 'currentEmp'>
  <p>
    Please fill out your current Employer information.
  </p>

  {{> employerInfo}}
  {{> jobInfo}}
  {{> skills}}
  {{> occupationInfo}}

  <a href="{{pathFor route='home'}}">Home</a>
</template>




<template name = 'employerInfo'>
  <form>
      <fieldset>
        <legend>
          Employer Information
        </legend>
        Company Name:
        <input type = "text" name = "companyName">
        <br>
        Do you work remotely?
        <input type = 'radio' name = 'remote' value="yes">Yes
        <input type = 'radio' name = 'remote' value="no">No
        <br>
        Street Address
        <input type = "text" name = "street">
        <br>
        City
        <input type = "text" name = "city">
        <br>
        State
        <input type = "text" name = "state">
        Zip Code
        <input type = "text" name = "zip">
    </fieldset>
  </form>
</template>

<template name = 'jobInfo'>
  <form>
      <fieldset>
        <legend>
          Job Information
        </legend>
        Job Title
        <input type = "text" name = "title">
        Have you been promoted?
        <input type = 'radio' name = 'promotion' value="yes">Yes
        <input type = 'radio' name = 'promotion' value="no">No
        <br>
        if yes, how many times:
        <input type = "text" name = "timespromoted">
        <br>
        Date of Promotion
        <input type = "text" name = "promotiondate">
        <br>
        Start Date
        <input type = "text" name = "startdate">
      </fieldset>
    </form>
</template>




<template name = 'educ'>
  <form>
    <fieldset>
      <legend>
        Education
      </legend>
      School
      <input type = "text" name = "school">
      Degree Earned
      <input type = "text" name = "degree">
      <br>
      Field of Study
      <input type = "text" name = "subject">
      <br>
      Education level
      <br>
      <input type = "checkbox" name = "level" value = "somehs">Some high school
      <br>
      <input type = "checkbox" name = "level" value = "diploma">high school diploma
      <br>
      <input type = "checkbox" name = "level" value = "assoc">associates degree
      <br>
      <input type = "checkbox" name = "level" value = "ba">BAchelors degree
      <br>
      <input type = "checkbox" name = "level" value = "somegr">Some graduate school
      <br>
      <input type = "checkbox" name = "level" value = "ms">Master's degree
      <br>
      <input type = "checkbox" name = "level" value = "diff">'all but differation' doctoral work
      <br>
      <input type = "checkbox" name = "level" value = "jd">Juris Doctor degree
      <br>
      <input type = "checkbox" name = "level" value = "phd">PhD degree
      <br>
      <input type = "checkbox" name = "level" value = "other">Other Please explain:
      <br>
      <input type = "submit" value = "Enter education">
    </fieldset>
  </form>

</template>



<template name = 'skills'>
  <form>
    <fieldset>
      <legend>
        Skills
      </legend>
      Skill 1
      <input type = "text" name = "skill1">
      <br>
      Skill 2
      <input type = "text" name = "skill2">
      <br>
      Skill 3
      <input type = "text" name = "skill3">
      <br>
      Skill 4
      <input type = "text" name = "skill4">
      <br>
      Skill 5
      <input type = "text" name = "skill5">
      </fieldset>
    </form>

</template>


<template name = 'creds'>
  <form>
    <fieldset>
      <legend>
      Credentials and certificates
      </legend>
      Certificate
      <input type = "text" name = "cert1">
      <br>
      Credential
      <input type = "text" name = "cred1">
      <br>
    </fieldset>
  </form>

</template>


<template name = 'occupationInfo'>
  <form>
    <fieldset>
      <legend>
        Occupation
      </legend>
      Industry
      <input type = "text" name = "industry">
      <br>
      Occupation
      <input type = "text" name = "occupation">
      <br>
      Job Level
      <input type = "text" name = "jobLevel">
      <br>
    </fieldset>
  </form>

</template>
