<template name = 'currentEmp'>
  <p>
    Please fill out your current Employer information.
  </p>

  {{> employerInfo}}
  {{> jobInfo}}
  {{> empStatus}}
  {{> jobFeeling}}

  <a href="{{pathFor route='home'}}">Home</a>
  <a href="{{pathFor route='formerEmp'}}">Former Employer</a>
</template>




<template name = 'employerInfo'>
  <form>
      <fieldset>
        <legend>
          Employer Information
        </legend>
        Company Name:
        <input type = "text" name = "companyName">
        <br>
        Do you work remotely?
        <input type = 'radio' name = 'remote' value="yes">Yes
        <input type = 'radio' name = 'remote' value="no">No
        <br>
        Street Address
        <input type = "text" name = "street">
        <br>
        City
        <input type = "text" name = "city">
        <br>
        State
        <input type = "text" name = "state">
        Zip Code
        <input type = "text" name = "zip">
        <input type = "submit" value = "Enter employer information">
    </fieldset>
  </form>
</template>

<template name = 'jobInfo'>
  <form>
      <fieldset>
        <legend>
          Job Information
        </legend>
        Job Title
        <input type = "text" name = "jobtitle">
        Have you been promoted?
        <input type = 'radio' name = 'promotion' value="yes">Yes
        <input type = 'radio' name = 'promotion' value="no">No
        <br>
        if yes, how many times:
        <input type = "text" name = "timespromoted">
        <br>
        Date of Promotion
        <input type = "text" name = "promotiondate">
        <br>
        Start Date
        <input type = "text" name = "startdate">
        <input type = "submit" value = "Enter job information">
      </fieldset>
    </form>
</template>




<template name = 'empStatus'>
  <form>
    <fieldset>
      <legend>
        Employment Status
      </legend>
      Status
      <input type = 'radio' name = 'status' value="full-time">Full Time
      <input type = 'radio' name = 'status' value="part-time">Part Time
      <input type = 'radio' name = 'status' value="other">Other
      <br>
      if other
      <input type = "text" name = "other status">
      Average hours worked per week
      <input type = "text" name = "hours">
    </fieldset>
  </form>

</template>



<template name = 'jobFeeling'>
  <form>
    <fieldset>
      <legend>
        Feelings toward Job
      </legend>
      <script type="text/javascript">
        function updateTextInput(val, input) {
          document.getElementById(input).value=val;
      }
      </script>
	  

      Overall, I am satisfied with my current job.
      <br>
	  <input type="text" id="current_job_satisf" name = 'jobSat' value="">
      <input type = 'range' min='0' max = '100' name = 'job sat' 
		value = '50' step = '1' onchange="updateTextInput(this.value, 'current_job_satisf');" >
      <br>
      I perform my job well.
      <br>
	  <input type="text" id="job_perf" name = 'jobPerform' value="">
      <input type = 'range' min='0' max = '100' value = '50' step = '1' onchange="updateTextInput(this.value, 'job_perf');" >
      <br>
      I would be glad to spend my whole career with my current employer.
      <br>
	  <input type="text" id="career_with_emp" name = 'jobFuture' value="">
      <input type = 'range' min='0' max = '100' value = '50' step = '1' onchange="updateTextInput(this.value, 'career_with_emp');" >
      <br>
      I often think about leaving my current employer.
      <br>
	  <input type="text" id="leave_curr_emp" name = 'jobExit' value="">
      <input type = 'range' min='0' max = '100' value = '50' step = '1' onchange="updateTextInput(this.value, 'leave_curr_emp');" >
      <br>
      My current employer and I share the same values.
      <br>
	  <input type="text" id="shr_val_emp" name = 'jobValue' value="">
      <input type = 'range' min='0' max = '100' value = '50' step = '1' onchange="updateTextInput(this.value, 'shr_val_emp');" >
      <br>
      I cooperate with my coworkers.
      <br>
	  <input type="text" id="coop_with_emp" name = 'jobCoop' value="">
      <input type = 'range' min='0' max = '100' value = '50' step = '1' onchange="updateTextInput(this.value, 'coop_with_emp');" >
      <br>
      I assist my coworkers when they need help.
      <br>
	  <input type="text" id="cowork_assist" name = 'jobAssist' value="">
      <input type = 'range' min='0' max = '100' value = '50' step = '1' onchange="updateTextInput(this.value, '	cowork_assist');" >
      <br>
      I think about how my actions affect my coworkers.
      <br>
	  <input type="text" id="action_extern" name = 'jobAffect' value="">
      <input type = 'range' min='0' max = '100' value = '50' step = '1' onchange="updateTextInput(this.value, 'action_extern');" >
      <br>
      <input type = "submit" value = "Enter job satisfaction">
    </fieldset>
  </form>

</template>
