<template name = 'information'>
  <h2>Please enter your personal information</h2>
  <div class = mainBox>
    {{#if currentUser}}
      {{> user}}
    {{/if}}
    {{> pi}}
    {{> educ}}
    {{> skills}}
    


  </div>
  <a href="{{pathFor route='home'}}" class="button_link">Home</a>
  <a href="{{pathFor route='currentEmp'}}" class="button_link">Current Employer</a>
</template>




<template name = 'user'>
  <p>Welcome {{email}}</p>
</template>

<template name = 'pi'>
  <form>
      <fieldset>
        <legend>
          Personal Information
        </legend>
        Email
        <input type = "text" name = "email">
        <br>
        Zip Code
        <input type = "text" name = "zip">
        <input type = "submit" value = "Enter information">
    </fieldset>
  </form>
</template>

<template name = 'educ'>
  <form>
    <fieldset>
      <legend>
        Education
      </legend>
      School
      <input type = "text" name = "school">
      Degree Earned
      <input type = "text" name = "degree">
      <br>
      Field of Study
      <input type = "text" name = "subject">
      <br>
      Education level
      <br>
      <input type = "checkbox" name = "level" value = "somehs">Some high school
      <br>
      <input type = "checkbox" name = "level" value = "diploma">high school diploma
      <br>
      <input type = "checkbox" name = "level" value = "assoc">associates degree
      <br>
      <input type = "checkbox" name = "level" value = "ba">BAchelors degree
      <br>
      <input type = "checkbox" name = "level" value = "somegr">Some graduate school
      <br>
      <input type = "checkbox" name = "level" value = "ms">Master's degree
      <br>
      <input type = "checkbox" name = "level" value = "diff">'all but differation' doctoral work
      <br>
      <input type = "checkbox" name = "level" value = "jd">Juris Doctor degree
      <br>
      <input type = "checkbox" name = "level" value = "phd">PhD degree
      <br>
      <input type = "checkbox" name = "level" value = "other">Other Please explain:
      <br>
      <input type = "submit" value = "Enter education">
    </fieldset>
  </form>

</template>



<template name = 'skills'>
  <form>
    <fieldset>
      <legend>
        Skills
      </legend>
      Skill 1
      <input type = "text" name = "skill1">
      <br>
      Skill 2
      <input type = "text" name = "skill2">
      <br>
      Skill 3
      <input type = "text" name = "skill3">
      <br>
      Skill 4
      <input type = "text" name = "skill4">
      <br>
      Skill 5
      <input type = "text" name = "skill5">
      <br>

      <button id = 'enterSkills'>Enter skills</button>
      </fieldset>
    </form>


</template>


<template name = 'creds'>
  <form>
    <fieldset>
      <legend>
      Credentials and certificates
      </legend>
      Certificate
      <input type = "text" name = "cert1">
      <br>
      Credential
      <input type = "text" name = "cred1">
      <br>
    </fieldset>
  </form>

</template>


<template name = 'occupationInfo'>
  <form>
    <fieldset>
      <legend>
        Occupation
      </legend>
      Industry
      <input type = "text" name = "industry">
      <br>
      Occupation
      <input type = "text" name = "occupation">
      <br>
      Job Level
      <input type = "text" name = "jobLevel">
      <br>
      <input type = "submit" value = "Enter occupation info">
    </fieldset>
  </form>

</template>
