body
{
	background-image: url("ShakingHands2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}


#talentBox
{	
	width: 20em;
	height:10em;
	position: relative;
	left:5em;
	top:5em;
	padding: 1em;
	border: 1em solid purple;
	border-radius: 25%;


}


#repBox
{	
	width: 20em;
	height:10em;
	position: relative;
	left:30em;
	bottom:9em;
	padding: 1em;
	border: 1em solid purple;
	border-radius: 25%;


}

.registerBox
{
	width: 10em;
	height: 5em;
	position: relative;
	border-radius: 1em solid blue;

}


h1
{
	color: green;
	text-align: center;
}

h2
{
	color:brown;
	font-size: 2em;
}

.button_link
{

    background-color: #33FF00;
  	-moz-border-radius: 15px;
  	-webkit-border-radius: 15px;
  	border: 5px solid #009900;
  	padding: 5px;
}
