<template name = 'changePassword'>
  {{#if currentUser}}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor route='home'}}">Employer Match</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{pathFor route='home'}}">Home</a></li>
          <li><a href="{{pathFor route='about'}}">About</a></li>
          <li><a href="{{pathFor route='contact'}}">Contact</a></li>
          {{#if currentUser}}
            <li><a href="{{pathFor route='profile'}}">Profile</a></li>
            <li><a href="{{pathFor route='information'}}">About You</a></li>
            <li><a href="{{pathFor route='tSurvey'}}">Personal Survey</a></li>
            <li><a href="{{pathFor route='Emp'}}">Rate Employer</a></li>
            <li><a href="{{pathFor route='match'}}">Matches</a></li>
          {{/if}}
        </ul>
        {{#if currentUser}}
          {{> changeDashboard}}
        {{/if}}
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div id = 'gray-container'>
    <div class="site-wrapper">      

          <div class="cover-container">
           
              <form class = 'registration form-signin change-password'>
                <h2 class="form-signin-heading">Change Password</h2>
                <label for="current_password" class="sr-only">Current Password</label>
                <input id = 'current_password' type="password" name="current_password" placeholder="Current Password" >

                <label for="new_password" class="sr-only">New Password</label>
                <input class = 'new_password' type="password" name="new_password" placeholder="New Password" >

                <label for="confirm_new_password" class="sr-only">Confirm new Password</label>
                <input class = 'confirm_new_password' type="password" name="confirm_new_password" placeholder="Confirm Password" >

                <button class="btn btn-lg btn-primary btn-block" id = 'changeButton'>Change Password</button>

              </form>

          </div>

      </div>
  </div>


  {{else}}
		{{> changeForbidden}}
	{{/if}}

</template>


<template name="changeDashboard">
    <div class="row navbar-right">
      <p class = 'logged_in_name'>Logged in as {{email}}</p>
      <button type="submit" class="btn btn-info logout">Logout</button>
    </div>


</template>

<template name="changeForbidden">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor route='home'}}">Employer Match</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{pathFor route='home'}}">Home</a></li>
          <li><a href="{{pathFor route='about'}}">About</a></li>
          <li><a href="{{pathFor route='contact'}}">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class = 'forbidden_container'>
    <p>Access Forbidden</p>


  </div>


</template>
