<template name = 'currentEmp'>
  <p>
    Please fill out your current Employer information.
  </p>

  {{> employerInfo}}
  {{> jobInfo}}
  {{> empStatus}}
  {{> jobFeeling}}

  <a href="{{pathFor route='home'}}">Home</a>
  <a href="{{pathFor route='rateCEmployer'}}">Rate Current Employer</a>
</template>




<template name = 'employerInfo'>
  {{#autoForm schema='CompanySchema' id='currentCompanyForm'}}
      <fieldset>
        <legend>
          Employer Information
        </legend>
        {{> afQuickField name='companyName' }}
        <br>
        {{> afQuickField name='remote' }}
        <br>
        {{> afQuickField name='address' }}
        <br>
        {{> afQuickField name='city' }}
        <br>
        {{> afQuickField name='state'}}
        <br>
        {{> afQuickField name='zip'}}
        <input type = "submit" value = "Enter employer information">
    </fieldset>
  {{/autoForm}}
</template>

<template name = 'jobInfo'>
  {{#autoForm schema='JobInfo' id='jobInfoForm'}}
      <fieldset>
        <legend>
          Job Information
        </legend>
        {{> afQuickField name='title' }}
        <br>
        {{> afQuickField name='start_date' }}
        {{> afQuickField name='promoted' options='allowed' noselect=true}}
        {{#if afFieldValueIs name="promoted" value="Yes"}}
          {{> afQuickField name='promo_times'}}
          {{#if afFieldValueIs name='promo_times'}}
            {{> afQuickField name='promo_date' }}
          {{/if}}
        {{/if}}
        <br>
        
      
        <input type = "submit" value = "Enter job information">
      </fieldset>
    {{/autoForm}}
</template>




<template name = 'empStatus'>
  {{#autoForm schema='EmpStatus' id='statusForm'}}
    <fieldset>
      <legend>
        Employment Status
      </legend>
      Status
      {{> afQuickField name='status' options='allowed' noselect=true}}
      {{#if afFieldValueIs name='status' value= 'Other'}}
        {{> afQuickField name= 'other'}}
      {{/if}}
      <br>

      {{> afQuickField name='hours' }}
      <input type = "submit" value = "Enter status information">
    </fieldset>
  {{/autoForm}}

</template>



<template name = 'jobFeeling'>
  <form>
    <fieldset>
      <legend>
        Feelings toward Job
      </legend>

      Overall, I am satisfied with my current job.
      <br>
      <input type = 'range' min='0' max = '100' name = 'jobSat' value = '50' step = '1'>
      <br>
      I perform my job well.
      <br>
      <input type = 'range' min='0' max = '100' name = 'perf_well' value = '50' step = '1'>
      <br>
      I would be glad to spend my whole career with my current employer.
      <br>
      <input type = 'range' min='0' max = '100' name = 'career' value = '50' step = '1'>
      <br>
      I often think about leaving my current employer.
      <br>
      <input type = 'range' min='0' max = '100' name = 'leaving' value = '50' step = '1'>
      <br>
      My current employer and I share the same values.
      <br>
      <input type = 'range' min='0' max = '100' name = 'share' value = '50' step = '1'>
      <br>
      I cooperate with my coworkers.
      <br>
      <input type = 'range' min='0' max = '100' name = 'coop' value = '50' step = '1'>
      <br>
      I assist my coworkers when they need help.
      <br>
      <input type = 'range' min='0' max = '100' name = 'assist' value = '50' step = '1'>
      <br>
      I think about how my actions affect my coworkers.
      <br>
      <input type = 'range' min='0' max = '100' name = 'actions' value = '50' step = '1'>
      <br>
      <input type = "submit" value = "Enter job satisfaction">
    </fieldset>
  </form>

</template>
