<template name = 'Emp'>
  <p>
    Please fill out your Employer information.
  </p>

  {{> employerInfo}}
  {{> jobInfo}}
  {{> empStatus}}
  {{#if currentUser}}
    {{> jobFeeling}}
  {{/if}}

  <a href="{{pathFor route='home'}}">Home</a>
  <a href="{{pathFor route='rateEmployer'}}">Rate Employer</a>
</template>




<template name = 'employerInfo'>
  {{#autoForm schema='CompanySchema' id='currentCompanyForm'}}
      <fieldset>
        <legend>
          Employer Information
        </legend>
        {{> afQuickField name='companyName' }}
        <br>
        {{> afQuickField name='address' }}
        <br>
        {{> afQuickField name='city' }}
        <br>
        {{> afQuickField name='state'}}
        <br>
        {{> afQuickField name='zip'}}
        <br>
        {{> afQuickField name='remote' }}
        <br>
        {{> afQuickField name='curr_or_form'}}
        <br>
        <input type = "submit" value = "Enter employer information">
    </fieldset>
  {{/autoForm}}
</template>

<template name = 'jobInfo'>
  {{#autoForm schema='JobInfo' id='jobInfoForm'}}
      <fieldset>
        <legend>
          Job Information
        </legend>
        {{> afQuickField name='title' }}
        <br>
        {{> afQuickField name='start_date' }}
        {{> afQuickField name='promoted' options='allowed' noselect=true}}
        {{#if afFieldValueIs name="promoted" value="Yes"}}
          {{> afQuickField name='promo_times'}}
          {{#if afFieldValueIs name='promo_times'}}
            {{> afQuickField name='promo_date' }}
          {{/if}}
        {{/if}}
        <br>
        
      
        <input type = "submit" value = "Enter job information">
      </fieldset>
    {{/autoForm}}
</template>




<template name = 'empStatus'>
  {{#autoForm schema='EmpStatus' id='statusForm'}}
    <fieldset>
      <legend>
        Employment Status
      </legend>
      Status
      {{> afQuickField name='status' options='allowed' noselect=true}}
      {{#if afFieldValueIs name='status' value= 'Other'}}
        {{> afQuickField name= 'other'}}
      {{/if}}
      <br>

      {{> afQuickField name='hours' }}
      <input type = "submit" value = "Enter status information">
    </fieldset>
  {{/autoForm}}

</template>



<template name = 'jobFeeling'>
  {{#autoForm schema='feelingSchema' id='feelingsForm'}}
    <fieldset>
      <legend>
        Feelings toward Job
      </legend>

      <br>
      {{> afQuickField name='job_satisfaction' }}
      <br>
      <br>
      {{> afQuickField name='performance' }}
      <br>
      <br>
      {{> afQuickField name='career' }}
      <br>
      <br>
      {{> afQuickField name='leaving' }}
      <br>
      <br>
      {{> afQuickField name='values' }}
      <br>
      <br>
      {{> afQuickField name='cooperate' }}
      <br>
      <br>
      {{> afQuickField name='assist' }}
      <br>
      <br>
      {{> afQuickField name='actions' }}
      <br>
      <br>
      <input type = "submit" value = "Enter job satisfaction">
    </fieldset>
  {{/autoForm}}

</template>
