<template name = 'formerEmp'>
  <p>
    Please fill out your former Employer information.
  </p>

  {{> formerEmployerInfo}}
  {{> formerJobInfo}}
  {{> formerempStatus}}
  {{> reason}}

  <a href="{{pathFor route='home'}}">Home</a>
  <a href="{{pathFor route='rateFEmployer'}}">Rate Former Employer</a>
</template>




<template name = 'formerEmployerInfo'>
  <form>
      <fieldset>
        <legend>
          Employer Information
        </legend>
        Company Name:
        <input type = "text" name = "companyName">
        <br>
        Did you work remotely?
        <input type = 'radio' name = 'remote' value="yes">Yes
        <input type = 'radio' name = 'remote' value="no">No
        <br>
        Street Address
        <input type = "text" name = "street">
        <br>
        City
        <input type = "text" name = "city">
        <br>
        State
        <input type = "text" name = "state">
        Zip Code
        <input type = "text" name = "zip">
        <input type = "submit" value = "Enter employer information">
    </fieldset>
  </form>
</template>

<template name = 'formerJobInfo'>
  <form>
      <fieldset>
        <legend>
          Job Information
        </legend>
        Job Title
        <input type = "text" name = "jobtitle">
        Were you promoted?
        <input type = 'radio' name = 'promotion' value="yes">Yes
        <input type = 'radio' name = 'promotion' value="no">No
        <br>
        if yes, how many times:
        <input type = "text" name = "timespromoted">
        <br>
        Date of Promotion
        <input type = "text" name = "promotiondate">
        <br>
        Start Date
        <input type = "text" name = "startdate">
        <input type = "submit" value = "Enter job information">
      </fieldset>
    </form>
</template>




<template name = 'formerempStatus'>
  <form>
    <fieldset>
      <legend>
        Employment Status
      </legend>
      Status
      <input type = 'radio' name = 'status' value="full-time">Full Time
      <input type = 'radio' name = 'status' value="part-time">Part Time
      <input type = 'radio' name = 'status' value="other">Other
      <br>
      if other
      <input type = "text" name = "other status">
      Average hours worked per week
      <input type = "text" name = "hours">
    </fieldset>
  </form>

</template>



<template name = 'reason'>
  {{#autoForm schema='Reasons' id='reasonsForm'}}
    <fieldset>
      <legend>
        Reason for leaving former employer
      </legend>
      {{> afQuickField name='choice' options='allowed' noselect=true }}
      <br>
      {{#if afFieldValueIs name="choice" value="Yes"}}
          {{> afQuickField name='yes_reasons' options='allowed' noselect=true}}
          {{#if afFieldValueIs name='yes_reasons' value='Other'}}
            {{> afQuickField name='other'}}
          {{/if}}
      {{/if}}
      {{#if afFieldValueIs name='choice' value="No"}}
        {{> afQuickField name='no_reasons' options='allowed' noselect=true}}
      {{/if}}
    </fieldset>
    <input type='submit' value='Enter reason'>
  {{/autoForm}}

</template>
