<template name = 'information'>
  <!-- Custom Theme JavaScript -->
    <script>


    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

  {{#if currentUser}}
    {{> infoNav}}
    {{> infoInnerNav}}

    {{> infoMain}}


  {{else}}
    {{> infoForbidden}}
  {{/if}}

</template>



<template name = 'infoNav'>
  <nav class="navbar navbar-inverse navbar-fixed-top" data-target = '#first'>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor route='home'}}">Employer Match</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{pathFor route='home'}}">Home</a></li>
          <li><a href="{{pathFor route='about'}}">About</a></li>
          <li><a href="{{pathFor route='contact'}}">Contact</a></li>
          {{#if currentUser}}
            <li><a href="{{pathFor route='profile'}}">Profile</a></li>
            <li class="active"><a href="{{pathFor route='information'}}">About You</a></li>
            <li><a href="{{pathFor route='tSurvey'}}">Personal Survey</a></li>
            <li><a href="{{pathFor route='Emp'}}">Rate Employer</a></li>
            <li><a href="#">Matches</a></li>
          {{/if}}
        </ul>
        {{#if currentUser}}
          {{> infoDashboard}}
        {{/if}}
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</template>

<template name = 'infoInnerNav'>
  <body data-spy="scroll" data-target="#gray-container">
    <div class="navbar-right">
    <div class="navbar-inner">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#basic" class = 'btn btn-primary btn-lg info' value = "Basic"></a></li>
      <li><a href="#occupation" class = 'fa fa-angle-double-right btn btn-primary btn-lg info' value = "Occupation"></a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>
</template>


<template name = 'infoMain'>
  
  <div id = 'gray-container'>
    <div class="site-wrapper">
          <div class="cover-container">
            <div id = 'basic'>
            {{> pi}}
            </div>
            <div id = 'occupation'>
              <p>test test testseradaferwadfadsfa</p>
            </div>
          </div>
    </div>

  </div>
</body>
</template>

<template name = 'user'>
  <p>Currently logged in as {{email}}</p>
</template>

<template name = 'pi'>
  {{#autoForm schema='PersonalInfo' id='personalInFoForm' class = 'form-horizontal'}}
  <fieldset>
   <h1>
      Basic Information
  </h1>

  <div class = 'form-group'>
    <label for="zip" class="col-md-3 control-label">Please enter the zip code for the location where you spend most of your time</label>
    <div class = 'col-sm-3'>
      {{> afQuickField name='zip' placeholder ='Zip Code'}}
    </div>
  </div>

  <br>

  <div class = 'form-group'>
    <label for="gender" class="col-md-3 control-label">Gender</label>
    <div class = 'col-sm-2'>
      {{> afQuickField name='gender' }}
    </div>
  </div>

  <input type = "submit" class = 'btn btn-primary btn-lg info-submit pull-right' value = "Next">


  </fieldset>
  {{/autoForm}}
</template>

<template name = 'educ'>
  {{#autoForm schema='UserEducation' id='educationForm'}}
    <fieldset>
      <legend>
        Education
      </legend>
      {{> afQuickField name='school'}}
      <br>
      {{> afQuickField name='degree'}}
      <br>
      {{> afQuickField name='field'}}
      <br>
      {{> afQuickField name= 'level'}}

      <input type = "submit" class = 'btn btn-primary btn-lg' value = "Education">



    </fieldset>
  {{/autoForm}}


</template>



<template name = 'skills'>
  <h3>Please enter up to 5 skills</h3>
  {{> quickForm schema='UserSkills' id='skillsForm' input-col-class="col-sm-5"}}


</template>


<template name = 'creds'>
  {{#autoForm schema='UserCreds' id='credsForm'}}
    <fieldset>
      <legend>
      Credentials and certificates - List up to 5 credentials or certificates
      </legend>
      {{> afQuickField name='creds'}}
      <br>
      <input type = "submit" class = 'btn btn-primary btn-lg' value = "Enter credentials">
    </fieldset>
  {{/autoForm}}

</template>


<template name = 'occupationInfo'>
  {{#autoForm schema='UserOccupation' id='occupationForm'}}
    <fieldset>
      <legend>
        Occupation
      </legend>
      {{> afQuickField name='industry'}}
      <br>
      {{> afQuickField name='occupation'}}
      <br>
      {{> afQuickField name='jobLevel'}}
      <br>
      <input type = "submit" class = 'btn btn-primary btn-lg' value = "Enter occupation">
    </fieldset>
  {{/autoForm}}

</template>

<template name="infoDashboard">
    <div class="row navbar-right">
      <p class = 'logged_in_name'>Logged in as {{email}}</p>
      <button type="submit" class="btn btn-info logout">Logout</button>
    </div>


</template>

<template name="infoForbidden">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor route='home'}}">Employer Match</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{pathFor route='home'}}">Home</a></li>
          <li><a href="{{pathFor route='about'}}">About</a></li>
          <li><a href="{{pathFor route='contact'}}">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class = 'forbidden_container'>
    <p>Access Forbidden</p>


  </div>


</template>
