<template name = 'information'>
  <h2>Please enter your personal information</h2>
  <div class = mainBox>
    {{#if currentUser}}
      {{> user}}
    {{/if}}
    {{> pi}}
    {{> educ}}
    {{> skills}}
    {{> creds}}
    {{> occupationInfo}}



  </div>
  <a href="{{pathFor route='home'}}" class="button_link">Home</a>
  <a href="{{pathFor route='tSurvey'}}" class="button_link">Talent Survey</a>
</template>




<template name = 'user'>
  <p>Welcome {{email}}</p>
</template>

<template name = 'pi'>
  {{#autoForm schema='PersonalInfo' id='personalInFoForm'}}
    <fieldset>
      {{> afQuickField name='email'}}
      {{> afQuickField name='zip' }}
      <input type="submit" value="Insert">
    </fieldset>
  {{/autoForm}}
</template>

<template name = 'educ'>
  {{#autoForm schema='UserEducation' id='educationForm'}}
    <fieldset>
      <legend>
        Education
      </legend>
      {{> afQuickField name='school'}}
      <br>
      {{> afQuickField name='degree'}}
      <br>
      {{> afQuickField name='field'}}
      <br>
      {{> afQuickField name='educationLevel'}}
      Education level
      <input type = "submit" value = "Enter education">
    </fieldset>
  {{/autoForm}}

</template>



<template name = 'skills'>
  {{#autoForm schema='UserSkills' id='skillsForm'}}
    <fieldset>
      <legend>
        Skills
      </legend>
      {{> afQuickField name='skill1'}}
      <br>
      {{> afQuickField name='skill2'}}
      <br>
      {{> afQuickField name='skill3'}}
      <br>
      <input type = "submit" value = "Enter skills">
      </fieldset>
    {{/autoForm}}


</template>


<template name = 'creds'>
  {{#autoForm schema='UserCreds' id='credsForm'}}
    <fieldset>
      <legend>
      Credentials and certificates
      </legend>
      {{> afQuickField name='certificate'}}
      <br>
      {{> afQuickField name='creds'}}
      <br>
      <input type = "submit" value = "Enter creds">
    </fieldset>
  {{/autoForm}}

</template>


<template name = 'occupationInfo'>
  {{#autoForm schema='UserOccupation' id='occupationForm'}}
    <fieldset>
      <legend>
        Occupation
      </legend>
      {{> afQuickField name='industry'}}
      <br>
      {{> afQuickField name='occupation'}}
      <br>
      {{> afQuickField name='jobLevel'}}
      <br>
      <input type = "submit" value = "Enter occupation info">
    </fieldset>
  {{/autoForm}}

</template>
