<template name = 'overview'>
	{{#if currentUser}}
		{{> overNav}}

		{{> overMain}}

	{{else}}
		{{> overForbidden}}
	{{/if}}

</template>



<template name = 'overNav'>
	<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor route='home'}}">Employer Match</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
					<li class="active"><a href="{{pathFor route='home'}}">Home</a></li>
					<li><a href="{{pathFor route='about'}}">About</a></li>
          <li><a href="{{pathFor route='contact'}}">Contact</a></li>
					{{#if currentUser}}
            <li><a href="{{pathFor route='information'}}">Information</a></li>
            <li><a href="{{pathFor route='tSurvey'}}">Personal Survey</a></li>
            <li><a href="{{pathFor route='rateEmployer'}}">Rate Employer</a></li>
            <li><a href="#">Matches</a></li>
          {{/if}}
        </ul>
				{{#if currentUser}}
          {{> overDashboard}}
        {{/if}}
      </div><!--/.nav-collapse -->
    </div>
  </nav>

</template>


<!--/.Main box  -->
<template name = 'overMain'>
	<div id = 'gray-container'>
		<div class="site-wrapper">

					<div class="cover-container">

							<h1>Overview</h1>


							<p class = 'lead'>Are you ready to get started?</p>
							<p class = 'lead'>Complete at your own pace</p>

							<p><a class="btn btn-primary btn-lg" href="{{pathFor route='information'}}" role="button">Enter your information</a></p>
							{{#if talent}}
								<p><a class="btn btn-primary btn-lg" href="{{pathFor route='tSurvey'}}" role="button">Complete the personal survey</a></p>
							{{/if}}
							<p><a class="btn btn-primary btn-lg" href="{{pathFor route='Emp'}}" role="button">Complete the employer survey</a></p>
							<p><a class="btn btn-primary btn-lg" href="{{pathFor route='match'}}" role="button">Find your matches!</a></p>

					</div>

			</div>
	</div>

</template>

<template name="overDashboard">
    <div class="row navbar-right">
      <p class = 'logged_in_name'>Logged in as {{email}}</p>
      <button type="submit" class="btn btn-info logout">Logout</button>
    </div>


</template>

<template name="overForbidden">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor route='home'}}">Employer Match</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{pathFor route='home'}}">Home</a></li>
          <li><a href="{{pathFor route='about'}}">About</a></li>
          <li><a href="{{pathFor route='contact'}}">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class = 'forbidden_container'>
    <p>Access Forbidden</p>


  </div>


</template>
