<template name = 'profile'>
	{{#if currentUser}}
		{{> profileNav}}
		{{> profileMain}}

	{{else}}
		{{> profileForbidden}}
	{{/if}}

</template>


<template name = 'profileNav'>
	<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor route='home'}}">Employer Match</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
					<li><a href="{{pathFor route='home'}}">Home</a></li>
					<li><a href="{{pathFor route='about'}}">About</a></li>
          <li><a href="{{pathFor route='contact'}}">Contact</a></li>
					{{#if currentUser}}
            <li class="active"><a href="{{pathFor route='profile'}}">Profile</a></li>
            <li><a href="{{pathFor route='information'}}">Information</a></li>
            <li><a href="{{pathFor route='tSurvey'}}">Personal Survey</a></li>
            <li><a href="{{pathFor route='Emp'}}">Rate Employer</a></li>
            <li><a href="#">Matches</a></li>
          {{/if}}
        </ul>
				{{#if currentUser}}
          {{> profileDashboard}}
        {{/if}}
      </div><!--/.nav-collapse -->
    </div>
  </nav>

</template>


<template name = 'profileMain'>
	<div id = 'gray-container'>
		<div class="site-wrapper">

					<div class="cover-container">

							<h1>{{email}}'s Profile</h1>
							<img src="img/ShakingHands2.jpg" class="center-block img-thumbnail" alt="Profile Pic" width=20% height=20%>

							<p class = 'lead'>Joined on {{join_date}}</p>
							<p class = 'lead'>Employers rated  {{employers}}</p>
							<p class = 'lead'>Date of last personal survey: </p>

							<p><a class="btn btn-primary btn-lg" href="{{pathFor route='changePassword'}}" role="button">Change Password</a></p>
              <p><a class="btn btn-primary btn-lg" href="#" id = 'test' role="button">test</a></p>

					</div>

			</div>
	</div>

</template>


<template name="profileDashboard">
    <div class="row navbar-right">
      <p class = 'logged_in_name'>Logged in as {{email}}</p>
      <button type="submit" class="btn btn-info logout">Logout</button>
    </div>


</template>

<template name="profileForbidden">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor route='home'}}">Employer Match</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{pathFor route='home'}}">Home</a></li>
          <li><a href="{{pathFor route='about'}}">About</a></li>
          <li><a href="{{pathFor route='contact'}}">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class = 'forbidden_container'>
    <p>Access Forbidden</p>


  </div>


</template>
