<template name = 'rateCEmployer'>

  <h2>
    Rate Current Employer
  </h2>

  <p>
    How important are these things to your current employer?
  </p>

  {{> currentEmployerRatings}}

  <a href="{{pathFor route='home'}}">Home</a>
  {{#if currentUser}}
    <a href="{{pathFor route='formerEmp'}}">Former Employer information</a>
  {{/if}}

</template>



<template name = 'currentEmployerRatings'>
  {{#autoForm collection='CurrentEmployerSurvey' id='CESurveyForm' type='insert'}}
	<fieldset>
      {{> afQuickField name='work_life_balance'}}
      <br>
      <input type = 'range' min='0' max = '100' name = 'job sat' 
		value = '50' step = '1' onchange="updateTextInput(this.value, 'work_life_bal');" >
      <br>
      <br>
      Providing Job Security
      <br>
	  <input type="text" id="job_sec" name = 'jobSec' value="">
      <input type = 'range' min='0' max = '100' name = 'job sat' 
		value = '50' step = '1' onchange="updateTextInput(this.value, 'job_sec');" >
      <br>
      <br>
      Providing Training and Development Opportunities
      <br>
	  <input type="text" id="train_dev_opp" name = 'jobDev' value="">
      <input type = 'range' min='0' max = '100' name = 'job sat' 
		value = '50' step = '1' onchange="updateTextInput(this.value, 'train_dev_opp');" >
      <br>
      <br>
      Providing a Manageable Workload
      <br>
      <input type="text" id="work_load" name = 'jobWorkLoad' value="">
      <input type = 'range' min='0' max = '100' name = 'job sat' 
		value = '50' step = '1' onchange="updateTextInput(this.value, 'work_load');" >
      <br>
      <br>
      Providing a Clear Career Path at My Employer
      <br>
      <input type="text" id="career_path" name = 'jobCareer' value="">
      <input type = 'range' min='0' max = '100' name = 'job sat' 
		value = '50' step = '1' onchange="updateTextInput(this.value, 'career_path');" >
      <br>
      <br>
      Providing Clear Promotion Criteria
      <br>
      <input type="text" id="promo_criteria" name = 'jobPromoCrit' value="">
      <input type = 'range' min='0' max = '100' name = 'job sat' 
		value = '50' step = '1' onchange="updateTextInput(this.value, 'promo_criteria');" >
      <br>
      <br>
      Providing Opportunities for Promotion
      <br>
	  <input type="text" id="promo_opp" name = 'jobPromoOpp' value="">
      <input type = 'range' min='0' max = '100' name = 'job sat' 
		value = '50' step = '1' onchange="updateTextInput(this.value, 'promo_opp');" >
      <br>
      <br>
      Providing Employees with the Freedom to Perform My Job in the Way that I Think is Best
      <br>
	  <input type="text" id="work_freedom" name = 'jobFree' value="">
      <input type = 'range' min='0' max = '100' name = 'job sat' 
		value = '50' step = '1' onchange="updateTextInput(this.value, 'work_freedom');" >
      <br>
      <br>
      Providing A High Salary
      <br>
      <input type="text" id="salary_range" name = 'jobSalary' value="">
      <input type = 'range' min='0' max = '100' name = 'job sat' 
		value = '50' step = '1' onchange="updateTextInput(this.value, 'salary_range');" >
      <br>
      <br>
      Providing Good Supervisors and Managers
      <br>
      <input type="text" id="manager_quality" name = 'jobManager' value="">
      <input type = 'range' min='0' max = '100' name = 'job sat' 
		value = '50' step = '1' onchange="updateTextInput(this.value, 'manager_quality');" >
      <br>
      <input type='submit' value='Add ratings'>
	  </fieldset>
  {{/autoForm}}

</template>
