<template name = 'rateWhich'>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor route='home'}}">Employer Match</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {{> login}}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Want to rate employers anonymously?</h1>
        <p>You can now rate employers without registering.</p>
        <p><a class="btn btn-primary btn-lg" href="{{pathFor route='Emp'}}" role="button">Enter Employer information &raquo;</a></p>
      </div>
    </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>


</template>



<template name = 'rateCurrentEmployerInfo'>
  {{#autoForm collection='Company' id='companyInfoForm' type= 'insert'}}
      <fieldset>
        <legend>
          Employer Information
        </legend>
        {{> afQuickField name='companyName'}}
        <br>
        {{> afQuickField name='address'}}
        <br>
        {{> afQuickField name='city'}}
        <br>
        {{> afQuickField name='state'}}
        <br>
        {{> afQuickField name='zip'}}
    </fieldset>
    <input type = "submit" value = "Rate Employer">
  {{/autoForm}}
</template>

<template name = 'rateFormerEmployerInfo'>
  <form>
      <fieldset>
        <legend>
          Employer Information
        </legend>
        Company Name:
        <input type = "text" name = "companyName">
        <br>
        Did you work remotely?
        <input type = 'radio' name = 'remote' value="yes">Yes
        <input type = 'radio' name = 'remote' value="no">No
        <br>
        Street Address
        <input type = "text" name = "street">
        <br>
        City
        <input type = "text" name = "city">
        <br>
        State
        <input type = "text" name = "state">
        Zip Code
        <input type = "text" name = "zip">
        <input type = "submit" value = "Rate Employer">
    </fieldset>
  </form>
</template>
