<template name = 'rateEmployer'>

  <h2>
    Rate Employer
  </h2>

  <p>
    How important are these things to your employer?
  </p>

  {{> currentEmployerRatings}}

  <a href="{{pathFor route='home'}}">Home</a>
  {{#if currentUser}}
    <a href="{{pathFor route='formerEmp'}}">Former Employer information</a>
  {{/if}}

</template>



<template name = 'currentEmployerRatings'>
  {{#autoForm collection='CurrentEmployerSurvey' id='CESurveyForm' type='insert'}}
	<fieldset>
      {{> afQuickField name='work_life_balance'}}
      <br>
      {{> afQuickField name='job_security'}}
      <br>
      <br>
      {{> afQuickField name='development_opportunities'}}
      <br>
      {{> afQuickField name='workload'}}
      <br>
      {{> afQuickField name='career_path'}}
      <br>
      {{> afQuickField name='promotion_criteria'}}
      <br>
      {{> afQuickField name='promotion_opportunities'}}
      <br>
      {{> afQuickField name='freedom'}}
      <br>
      {{> afQuickField name='salary'}}
      <br>
      {{> afQuickField name='good_sup'}}
      <input type='submit' value='Add ratings'>
	  </fieldset>
  {{/autoForm}}

</template>
