<template name = 'tSurvey'>

  <h2>
    Job Views
  </h2>

  <p id = 'question'>
    When you think about life at work, how important are these things to you?
  </p>

  <p>Please fill out survey with 1 being  <strong>Not Important at all</strong> to 5 being <strong>Absolutely Essential.</strong> </p>
  <br>
  <br>
  <br>

  {{> talentviewsurvey}}
 

  <a href="{{pathFor route='Emp'}}">Employer info</a>

</template>



<template name = 'talentviewsurvey'>
  {{#autoForm schema='PersonalSurveySchema' id='talentsurvey'}}
  <fieldset>
    {{> afQuickField name='worklife_self' }}
      <br>
      <br>
    {{> afQuickField name='jobsec_self' }}
      <br>
      <br>
    {{> afQuickField name='td_self' }}
      <br>
      <br>
    {{> afQuickField name='workload_self' }}
      <br>
      <br>
    {{> afQuickField name='careerpath_self' }}
      <br>
      <br>
    {{> afQuickField name='promocrit_self' }}
      <br>
      <br>
    {{> afQuickField name='promo_self' }}
      <br>
      <br>
    {{> afQuickField name='auton_self' }}
      <br>
      <br>
    {{> afQuickField name='salary_self' }}
      <br>
      <br>
    {{> afQuickField name='goodsup_self' }}
   
      <br>
      <input type = "submit" value = "Complete Survey">
    </fieldset>
  {{/autoForm}}

</template>
