<template name = 'tSurvey'>

  <h2>
    Job Views
  </h2>

  <p id = 'question'>
    When you think about life at work, how important are these things to you?
  </p>

  <p>Please fill out survey with 1 being  <strong>Not Important at all</strong> to 5 being <strong>Absolutely Essential.</strong> </p>
  <br>
  <br>
  <br>

  {{> talentviewsurvey}}
 

  <a href="{{pathFor route='home'}}">Home</a>
  <a href="{{pathFor route='Emp'}}">Employer info</a>

</template>



<template name = 'talentviewsurvey'>
  <form>
    Work Life Balance
      <br>
      <input type = 'range' min='1' max = '5' value = '3' step = '1' name = 'wlb' >
      <br>
      <br>
    Job Security
      <br>
      <input type = 'range' min='1' max = '5' name = 'jobSec' value = '3' step = '1'>
      <br>
      <br>
    Training and development opportunities
      <br>
      <input type = 'range' min='1' max = '5' name = 'develop' value = '3' step = '1'>
      <br>
      <br>
      A Manageable Workload
      <br>
      <input type = 'range' min='1' max = '5' name = 'wload' value = '3' step = '1'>
      <br>
      <br>
      A clear career path at my employer
      <br>
      <input type = 'range' min='1' max = '5' name = 'path' value = '3' step = '1'>
      <br>
      <br>
      Clear promotion criteria
      <br>
      <input type = 'range' min='1' max = '5' name = 'criteria' value = '3' step = '1'>
      <br>
      <br>
      Opportunities for promotion
      <br>
      <input type = 'range' min='1' max = '5' name = 'opportunities' value = '3' step = '1'>
      <br>
      <br>
      The freedom to perform my job in the way that i think is best
      <br>
      <input type = 'range' min='1' max = '5' name = 'freedom' value = '3' step = '1'>
      <br>
      <br>
      A high salary
      <br>
      <input type = 'range' min='1' max = '5' name = 'salary' value = '3' step = '1'>
      <br>
      <br>
      Good supervisors and managers
      <br>
      <input type = "radio" name = "super" value = "not important">Not important at all
      <input type = "radio" name = "super" value = "little">Of little importance
      <input type = "radio" name = "super" value = "neutral">Of average importance
      <input type = "radio" name = "super" value = "important">Very important
      <input type = "radio" name = "super" value = "essential">Absolutely essential
      <br>
      <input type = "submit" value = "Complete Survey">
  </form>

</template>
